.container {
    margin-top: 15px;
    margin-bottom: 70px;
    
}

.container a {
    text-decoration: none;
}

.top-navbar {
    background-color: #fff !important;
}



.card-body  {
    text-align: center;
}

.card-footer {
    text-align: center;
    border: none;
    background: #fff;
}

.card-footer button {
    margin-bottom: 10px;
}

.card {
    border: none;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
}

.product-content {
    margin-bottom: 20px;
}
