p{
    color: gray;
}
.container {
    margin-top: 15px;
    margin-bottom: 70px;
    
}

.container a {
    text-decoration: none;
}

.top-navbar {
    background-color: #fff !important;
}



.card-body  {
    text-align: center;
}

.card-footer {
    text-align: center;
    border: none;
    background: #fff;
}



.card-footer button {
    margin-bottom: 10px;
}

.card {
    border: none;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
}

.product-content {
    margin-bottom: 20px;
}

.categories h3, .categories h5 {
    text-align: center;
    
}

.categories-item {
    padding: 20px;
}

.beauty-section {
    margin-bottom: 20px;
}

.categories-border {
    border-bottom: 10px solid #FFBB24;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer p {
    font-size: 12px;
    color: gray;
    text-align: center;
}